.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body{
    background: #0074a8
}

.title{
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    background: #60b1d7;
    /* justify-content: space-between; */
    filter: drop-shadow(3px 3px #3f5f6d);
    width: 70%;
    margin-top: 2%;
    font-weight: bold;
    font-size: 50px;
    padding: 0.5%;
}