{% extends 'base.html' %}
{% load static %}
{%block content%}
<link rel="stylesheet" type="text/css" href="{% static 'css/cards.css' %}">
<div class="double-col">
  <form action="/" method="GET" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" placeholder="Искать здесь..." name="search_address" value="{{ search_address }}">
    <button type="submit" class="search_button"></button>
  </form> 
  <a href="/fixation/1" class="url-cart"><img src='http://127.0.0.1:9000/images/cart.png' class="cart"></a>
</div>
</div>
  <div class="space">
    <div class="container">
      {% for address in addresses %}
            {% include 'card_element.html'%}
        {% empty %}
        <li>Список пуст</li>
        {% endfor %}
    </div>
  </div>
{%endblock%}