
{% extends 'base.html' %}
{% load static %}
{%block content%}
<link rel="stylesheet" type="text/css" href="{% static 'css/cards.css' %}">
<div class="double-col">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" placeholder="Искать здесь..." name="text">
    <button type="submit"></button>
  </form> 
  <a href="/orders" class="url-cart"><img src='http://127.0.0.1:9000/lab1/cart.png' class="cart"></a>
</div>
</div>
  <div class="space">
    <div class="container">
      {% for address in data.addresses %}
            {% include 'card_element.html' with element=address%}
        {% empty %}
        <li>Список пуст</li>
        {% endfor %}
    </div>
  </div>
{%endblock%}